<div class = "container">
  <div class = "row justify-content-center">
    <h1><%= image_tag asset_path('logo_transparent.png'), size: "400x300" %></h1>
  </div>
  <div class = "row justify-content-center">
    <p>
      当サイトへようこそ！</br>
      ユーザー様による花・植物の写真を通して、関東近郊の写真スポットについて意見・情報交換を</br>
      することを目的としたコミュニティサイトです。
    </p>
  </div>
  <div class = "row py-5"></div>
</div>