<div class = "container">
  <div class = "row">
    <h2>※ロゴ</h2>
    <%= link_to "ユーザログイン", new_user_session_path, class: "btn btn-primary col-6" %>
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-success col-6" %>
  </div>
</div>