<%= flash[:notice] %>
<div class = "container">
  <h1>※ロゴ</h1>
  <div>
    <p>
      当コミュニティサイトへご訪問いただきありがとうございます。</br>
      ユーザ様たちによって撮影された、花や植物の写真に癒される、素敵な時間をお過ごしください。</br>
      ゲストログインで投稿の閲覧は可能ですが、投稿機能やいいね、コメント機能を利用するにはユーザ登録が必要となります。
    </p>
  </div>
</div>