<div class = "container">
  <div class = "row">
    <h2>投稿一覧</h2>
    <table class = "table">
      <% @pictures.each do |picture| %>
      <tr>
        <td><%= image_tag @picture.image, size: "300 x 200" %></td>
        <td>撮影者<%= picture.user.nickname %>さん</td>
        <td>行ってみたい<%= picture.wanna_go.count %></td>
        <!--each文?-->
        <td><%= picture.picture_comments %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
