<div class = "container">
  <h1>本日の投稿（<%= @pictures.count %>件)</h1>
    <div class = "row">
      <% @pictures.each do |picture| %>
      <table class = "table">
        <tr>
          <td>
            <%= link_to admin_picture do %>
              <%= image_tag picture.image, size "200 x 300" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            撮影者：<%= picture.user.nickname %>さん
          </td>
        </tr>
        <tr>
          <td>
            <!--wanna_go実装後に記述↓-->
            行ってみたいX件
          </td>
        </tr>
      </table>
      <% end %>
    </div>
</div>