

body {
  margin:0px;
  font-family: courier;
  color: #66CC99;
}

header {
  background-color: #CBFFD3;
  font-family: serif;
}

nav {
  color: #002200;
}

main {
  display: flex;
  justify-content: center;
  background-color: #FFDBC9;
  font-family: serif;
  height: 100%;
}

footer {
  background-color: #FFDBC9;
  font-family: courier;
  color: #330000;
  width:100%;
  bottom: 0;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='gray' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}