*{
  margin: 0px;
}

body {
  font-family: courier;
  color: #330000;
}

header {
  background-color: #FFC7AF;
  font-family: serif;
}

nav {
  color: #002200;
}

main {
  display: flex;
  justify-content: center;
  background-color: #FFDBC9;
  font-family: serif;

}

footer {
  background-color: #FFDBC9;
  font-family: courier;
  color: #330000;
  width:100%;
}