<div class = "container">
  <div class = "row">
    <h2><%= @user.last_name + @user.first_name %>さんの情報詳細編集</h2>
    <%= form_with model: @user, admin_user_path do |f| %>
    <table>
      <tr>
        <td>プロフィール画像：</td>
        <td><%= f.file_field :image, accept: "image/*" %></td>
      </tr>
      <tr>
        <td>ニックネーム：</td>
        <td><%= f.text_field :nickname %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>


