<div class = "container">
  <div class = "row">
    <h2>本当に削除しますか？</h2>
    <p>※削除後に再度当サイトの機能を利用するには、再登録が必要になります。</p>
    <p><%= link_to "削除しない", user_path(current_user) %></p>
    <p><%= link_to "削除する", withdraw_users_path, method: :patch, class: "btn btn-danger", data: { confirm: '本当に削除しますか？' } %></p>
  </div>
</div>
