<div class = "container">
  <div class = "row">
    <h2>「行ってみたい」をした投稿一覧</h2>
    <%= @pictures.each do |pictures| %>
    <p>
    <%= link_to picture_path(@picture) do %>
      <%= image_tag picture.image, size: "100x80" %>
    <% end %>
    </p>
    <% end %>
    <div>
      
    </div>
  </div>
</div>
