<div class = "container py-5">
  <div class = "row py-5">
    <h2>あなたの「行ってみたい!」投稿一覧</h2>
    <% @wanna_go_pictures.each do |picture| %>
    <table class = "table table-hover table-inverse">
      <tr>
        <td>
        <%= link_to picture_path(@wanna_go_pictures) do %>
          <%= image_tag picture.image, size: "100x80" %>
        <% end %>
        </td>
        <td>投稿者：<%= picture.user.nick_name %>さん</td>
        <td>スポット名：<%= picture.spot_name %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <div class = "row py-5"></div>
  <div class = "row py-5"></div>
</div>